version: "3.9"

# ==============================
# 共通定義
# ==============================
x-template-base01-common: &template-base01-common
  build:
    context: ./frontend
    dockerfile: ../Dockerfile
  working_dir: /app
  command: npm run start
  environment:
    NODE_ENV: production
    NODE_OPTIONS: "--max-old-space-size=768"
  mem_limit: 4.0g
  restart: always
  cpus: 2.0
  read_only: true
  tmpfs:
    - /tmp
    - /var/tmp
    - /app/.next/cache

services:
  develop:
    <<: *template-base01-common
    container_name: template-base01-develop
    ports:
      - "${HOST_PORT:-8260}:3000"
    env_file:
      - ${ENV_FILE:-./env/prod.env}
    args:
      ENV_FILE: env/prod.env

  template-base01.ttnou.com:
    <<: *template-base01-common
    container_name: template-base01.ttnou.com
    ports:
      - "${HOST_PORT:-8261}:3000"
    env_file:
      - ${ENV_FILE:-./env/template-base01.env}
    args:
      ENV_FILE: env/template-base01.env

  good-therapy:
    <<: *template-base01-common
    container_name: template-base01-good-therapy
    ports:
      - "${HOST_PORT:-8262}:3000"
    env_file:
      - ${ENV_FILE:-./env/good-therapy.env}
    args:
      ENV_FILE: env/good-therapy.env

  kimotokk:
    <<: *template-base01-common
    container_name: template-base01-kimotokk
    ports:
      - "${HOST_PORT:-8263}:3000"
    env_file:
      - ${ENV_FILE:-./env/kimotokk.env}
    args:
      ENV_FILE: env/kimotokk.env
