version: "3.9"

# このネットワークはトトノウMA＋ップのために作成したものです
networks:
  ttnoumap-net:
    external: true
    driver: bridge

# ローカル環境用の設定

services:
  develop:
    command: npm run dev
    environment:
      NODE_ENV: development
      NODE_OPTIONS: "--max-old-space-size=1024"
    volumes:
      - ./frontend:/app
      #- /app/node_modules
    env_file:
      - ${ENV_FILE:-./env/develop.env}
    networks:
      - ttnoumap-net
    mem_limit: 1.5g

  kimotokk:
    command: npm run dev
    environment:
      NODE_ENV: development
      NODE_OPTIONS: "--max-old-space-size=1024"
    volumes:
      - ./frontend:/app
      #- /app/node_modules
    env_file:
      - ${ENV_FILE:-./env/kimotokk.env}
    networks:
      - ttnoumap-net
    mem_limit: 1.5g
