services:
  develop:
    container_name: template-base01-develop
    ports:
      - "${HOST_PORT:-8260}:3000"
    build:
      context: ./frontend
      dockerfile: ../Dockerfile
    working_dir: /app
    env_file:
      - ${ENV_FILE:-./env/prod.env}
    command: sh -c "npm run build && npm run start"
    volumes:
      # ソースコードはホストと同期
      - ./frontend:/app
      # node_modules はコンテナ専用（ホストに上書きされないようにする）
      #- /app/node_modules
    environment:
      NODE_ENV: production
    mem_limit: 1g

  template-base01.ttnou.com:
    container_name: template-base01.ttnou.com
    ports:
      - "${HOST_PORT:-8261}:3000"
    build:
      context: ./frontend
      dockerfile: ../Dockerfile
    working_dir: /app
    env_file:
      - ${ENV_FILE:-./env/template-base01.env}
    command: sh -c "npm run build && npm run start"
    environment:
      NODE_ENV: production
    mem_limit: 1g

  good-therapy:
    container_name: template-base01-good-therapy
    ports:
      - "${HOST_PORT:-8262}:3000"
    build:
      context: ./frontend
      dockerfile: ../Dockerfile
    working_dir: /app
    env_file:
      - ${ENV_FILE:-./env/good-therapy.env}
    command: sh -c "npm run build && npm run start"
    environment:
      NODE_ENV: production
    mem_limit: 1g

  kimotokk:
    container_name: template-base01-kimotokk
    ports:
      - "${HOST_PORT:-8263}:3000"
    build:
      context: ./frontend
      dockerfile: ../Dockerfile
    working_dir: /app
    env_file:
      - ${ENV_FILE:-./env/kimotokk.env}
    command: sh -c "npm run build && npm run start"
    environment:
      NODE_ENV: production
    mem_limit: 1g
