services:
  frontend:
    ports:
      - "${HOST_PORT:-8260}:3000"
    build:
      context: ./frontend
      dockerfile: ../Dockerfile
    working_dir: /app
    env_file:
      - ${ENV_FILE:-./env/prod.env}
    command: sh -c "npm run build && npm run start"
    volumes:
      # ソースコードはホストと同期
      - ./frontend:/app
      # node_modules はコンテナ専用（ホストに上書きされないようにする）
      #- /app/node_modules
    environment:
      NODE_ENV: production

  good-therapy.co.jp:
    ports:
      - "${HOST_PORT:-8261}:3000"
    build:
      context: ./frontend
      dockerfile: ../Dockerfile
    working_dir: /app
    env_file:
      - ${ENV_FILE:-./env/good-therapy.co.jp.env}
    command: sh -c "npm run build && npm run start"
    volumes:
      # ソースコードはホストと同期
      - ./frontend:/app
      # node_modules はコンテナ専用（ホストに上書きされないようにする）
      #- /app/node_modules
    environment:
      NODE_ENV: production
