:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/*************************** スクロールバーを消すスタイル */

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* =====================
   Noto Sans JP（Variable）
===================== */
@font-face {
  font-family: "Noto Sans JP";
  src: url("/fonts/NotoSansJP-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

/* =====================
   Noto Serif JP（Variable）
===================== */
@font-face {
  font-family: "Noto Serif JP";
  src: url("/fonts/NotoSerifJP-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

/* =====================
   M PLUS（Variable）
===================== */
@font-face {
  font-family: "M PLUS 1";
  src: url("/fonts/MPLUS1-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

/* =====================
   Kosugi Maru
===================== */
@font-face {
  font-family: "Kosugi Maru";
  src: url("/fonts/KosugiMaru-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

/* =====================
   Shippori Mincho
===================== */
@font-face {
  font-family: "Shippori Mincho";
  src: url("/fonts/ShipporiMincho-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Shippori Mincho";
  src: url("/fonts/ShipporiMincho-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Shippori Mincho";
  src: url("/fonts/ShipporiMincho-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Shippori Mincho";
  src: url("/fonts/ShipporiMincho-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Shippori Mincho";
  src: url("/fonts/ShipporiMincho-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
}

/* =====================
   Zen Old Mincho
===================== */
@font-face {
  font-family: "Zen Old Mincho";
  src: url("/fonts/ZenOldMincho-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Zen Old Mincho";
  src: url("/fonts/ZenOldMincho-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Zen Old Mincho";
  src: url("/fonts/ZenOldMincho-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Zen Old Mincho";
  src: url("/fonts/ZenOldMincho-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Zen Old Mincho";
  src: url("/fonts/ZenOldMincho-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
}

/* =====================
   Inter（Variable）
===================== */
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
